[Container]
Exec='--path.rootfs=/host'
Image=quay.io/prometheus/node-exporter:latest
AutoUpdate=registry
Network=host
PodmanArgs=--pid host
Volume=/:/host:ro,rslave

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target default.target