[Container]
Image=lscr.io/linuxserver/plex:latest
ContainerName=plex
Network=host
Environment=PUID=${PLEX_UID}
Environment=PGID=${PLEX_UID}
Environment=TZ=Etc/UTC
Environment=VERSION=docker
Volume=/plex:/config
Volume=/tank/Media/Anime:/media/Anime
Volume=/tank/Media/AnimeFilms:/media/AnimeFilms
Volume=/tank/Media/HomeMedia:/media/HomeMedia
Volume=/tank/Media/Movies:/media/Movies
Volume=/tank/Media/Music:/media/Music
Volume=/tank/Media/ShortFilms:/media/ShortFilms
Volume=/tank/Media/TVSeries:/media/TVSeries
Notify=no

[Install]
WantedBy=multi-user.target default.target

[Service]
Restart=unless-stopped