[Container]
Image=lscr.io/linuxserver/plex:latest
ContainerName=plex
Network=host
Environment=PUID=${PLEX_UID}
Environment=PGID=${PLEX_UID}
Environment=TZ=Etc/UTC
Environment=VERSION=docker
Volume=/plex:/config
Volume=/tank/Anime:/media/Anime
Volume=/tank/Anime Films:/media/Anime Films
Volume=/tank/Home Media:/media/Home Media
Volume=/tank/Movies:/media/Movies
Volume=/tank/Music:/media/Music
Volume=/tank/Short Films:/media/Short Films
Volume=/tank/TV Series:/media/TV Series
Notify=no

[Install]
WantedBy=multi-user.target default.target

[Service]
Restart=unless-stopped