[Container]
Image=ghcr.io/bubuntux/nordvpn:latest
ContainerName=vpn
AutoUpdate=registry
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Environment=TOKEN=e9f2ab3e2950a608c5456a4a922686066b95004d66e4dbe6b44607f5f9c07b38
# Environment=CONNECT=United_States
Environment=TECHNOLOGY=NordLynx
Environment=NETWORK=192.168.0.0/24
PublishPort=6881:6881
Sysctl=net.ipv6.conf.all.disable_ipv6=1

[Install]
WantedBy=multi-user.target default.target

[Service]
Restart=unless-stopped
Type=notify